// @import url(https://db.onlinewebfonts.com/c/f3c42d5e4c2d28b84d05c2b2f672b3ca?family=Gotham+ExtraLight);

@mixin song-button {
    background-color: #1db954;
    border: none;
    border-radius: 3000px;
    color: white;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.songs-container {
    grid-area: content;
    overflow-y: scroll;
    position: relative;
    .songs-header {
        height: 340px;
        background-color: rgb(152, 176, 176);
        box-sizing: border-box;
        .songs-context {
            display: flex;
            padding: 85px 0 0 33px;
            .songs-image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 232px;
                height: 232px;
                box-shadow: 0 4px 60px rgba(0,0,0,.5);
                .songs__image {
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    &.no-image{
                        width: 64px;
                        height: 64px;
                    }
                }
            }
            .songs-data {
                display: flex;
                flex-direction: column-reverse;
                margin-left: 20px;
                z-index: 1;
                margin-bottom: -7px;
                .songs__context-type {
                    line-height: 0;
                    font-size: 12px;
                }
                .songs__context-title {
                    line-height: 0;
                    font-size: 96px;
                    letter-spacing: -.04em;
                }
                .songs__context-data {
                    line-height: 0;
                    font-size: 14px;
                }
            }
        }
    }
    .songs-container-background {
        display: block;
        position: absolute;
        height: 340px;
        width: 100%;
        top: 0;
        background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
    }
    .songs-background {
        background: #121212;
        isolation: isolate;
        .songs-complementary {
            position:sticky;
            z-index: 2;
            top: -2px;
            background-color: rgb(152, 176, 176);
            background-image: linear-gradient(rgba(0,0,0,.6) 0,#121212 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
            &[stuck] {
                &{
                    background-color: #3D4646;
                    background-image: none;
                }
                .songs-player-buttons {
                    padding: 10px 0 10px 30px;
                    .songs__play-button {
                        width: 42px;
                        height: 42px;
                    }
                    .song__stop-button {
                        width: 42px;
                        height: 42px;
                    }
                    .songs__play-button--active {
                        width: 42px;
                        height: 42px;
                    }
                    .songs__stop-button--active {
                        width: 42px;
                        height: 42px;
                    }
                }
                border-bottom: 1px solid rgba(255,255,255,.1);
                box-shadow: 0 -1px 0 0 #181818;
                background-color:  #3D4646;
                height: 96px;
                .songs-navbar {
                    grid-template-columns: 1% 39.7% 26.5% 24% 1%;
                    background-color: #181818;
                    margin-left: 0;
                    padding-left: 46px;
                    
                }
            }
            .songs-player-buttons {
                padding: 24px;
                padding-left: 33px;
                .songs__play-button {
                    display: inline-block;
                    @include song-button;
                }
                .songs__play-button--active {
                    display: none;
                    @include song-button;
                }
                .songs__stop-button--active {
                    display: inline-block;
                    @include song-button;
                }
                .songs__stop-button {
                    display: none;
                    @include song-button;
                }
            }
            .songs-navbar {
                display: grid;
                grid-template-columns: 1% 39.7% 26.5% 24% 1%;
                gap: 15px;
                align-items: center;
                border-bottom: 1px solid rgba(255,255,255,.1);
                color: #b3b3b3;
                letter-spacing: .05em;
                @font-face {font-family: "Gotham ExtraLight"; src: url(./fonts/GothamExtraLight/f3c42d5e4c2d28b84d05c2b2f672b3ca.eot); src: url(./fonts/GothamExtraLight/f3c42d5e4c2d28b84d05c2b2f672b3ca.eot?#iefix) format("embedded-opentype"), url(./fonts/GothamExtraLight/f3c42d5e4c2d28b84d05c2b2f672b3ca.woff2) format("woff2"), url(./fonts/GothamExtraLight/f3c42d5e4c2d28b84d05c2b2f672b3ca.woff) format("woff"), url(./fonts/GothamExtraLight/f3c42d5e4c2d28b84d05c2b2f672b3ca.ttf) format("truetype"), url(./fonts/GothamExtraLight/f3c42d5e4c2d28b84d05c2b2f672b3ca.svgGothamExtraLight) format("svg"); }
                font-size: 14px;
                padding-left: 16px;
                line-height: 0;
                margin-left: 30px;
                .navbar__numeral {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
        .songs-body {
            margin: 0 32px;
            .songs-list-container {
                .songs-list{
                    display: flex;
                    flex-direction: column;
                    padding-left: 0;
                    .list__item {
                        display: grid;
                        grid-template-columns: 2% 40% 27% 23% 1%;
                        gap: 15px;
                        font-size: 14px;
                        align-items: center;
                        height: 58px;
                        color: rgb(179, 179, 179);
                        cursor: pointer;
                        &:hover {
                            background-color: rgba(255,255,255,.1);
                            .list__index {
                                display: none;
                            }
                            .list__play-button {
                                display: inline-block;
                                & * {
                                    width: 16px;
                                    height: 16px;
                                    margin-left: 10px;
                                }
                            }
                            .list__play-button--active {
                                display: none;
                            }
                            .list__stop-button--active {
                                display: flex;
                                align-items: center;
                                margin-left: 10px;
                            }
                            .list__stop-button {
                                display: none;
                            }
                            .list__song-is-playing--active {
                                display: none;
                            }
                        }
                        .list__index {
                            font-size: 16px;
                            color: #b3b3b3;
                            margin-left: 15px;
                        }
                        .list__play-button {
                            display: none;
                            background-color: transparent;
                            border: none;
                            color: white;
                        }
                        .list__stop-button {
                            display: none;
                            color: white;
                        }
                        .list__play-button--active {
                            display: none;
                        }
                        .list__stop-button--active {
                            display: none;
                            background-color: transparent;
                            border: none;
                            color: white;
                        }
                        .list__song-is-playing {
                            display: none;
                        }
                        .list__song-is-playing--active {
                            display: inline-block;
                            margin-left: 13px;
                        }
                        .list__index--active {
                            display: none;
                            width: 20px;
                            margin-left: 10px;
                            color: white;
                        }
                        .list__song-data {
                            display: flex;
                            align-items: center;
                            height: 40px;
                            .list__image {
                                width: 40px;
                                height: 40px;
                            }
                            .list__description-container {
                                margin-left: 15px;
                                width: 100%;
                                height: 100%;
                                padding-bottom: 40px;
                                .list__song-title {
                                    font-size: 16px;
                                    color: white;
                                    width: 90%;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    margin-top: 25px;
                                }
                                .list__song-author {
                                    line-height: 0;
                                    font-size: 14px;
                                    margin-top: -5px;
                                }
                            }
                        }
                        .list__album {
                            text-decoration: none;
                            color: rgb(179, 179, 179);
                        }
                    }
                    .list__item.active {
                        .list__song-data {
                            .list__description-container {
                                .list__song-title {
                                    color: #1ed760;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}