html {
    box-sizing: border-box;
    &*, *::before, *::after {
        box-sizing: inherit;
    }
    height: calc(100vh - calc(100vh - 100%));
}

body {
    margin: 0;
    overflow-x: hidden;
    height: calc(100vh - calc(100vh - 100%));
    width: 100%;
}

@import "./app";
@import "./yourLibrary";
@import "./songs";
@import "./search";
@import "./category";
@import "./results";