@import url(//db.onlinewebfonts.com/c/a3b9bd61310fe6777980b7b7ce42f937?family=Gotham+C1+Head);
@import url(//db.onlinewebfonts.com/c/f3c42d5e4c2d28b84d05c2b2f672b3ca?family=Gotham+ExtraLight);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100vh - calc(100vh - 100%));
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: calc(100vh - calc(100vh - 100%));
  width: 100%;
}

.app-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "sidebar content content" "player player player";
  -ms-grid-columns: 240px 800px;
      grid-template-columns: 240px 800px;
  -ms-grid-rows: 90% 90px;
      grid-template-rows: 90% 90px;
  background-color: #98b0b0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.6)), to(#121212)), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
  height: 100vh;
  color: white;
  font-family: 'Gotham C1 Head';
}

.app-container .sidebar-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
  background-color: #000;
  width: 240px;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__logo {
  height: 40px;
  width: 130px;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 28px;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list {
  list-style: none;
  padding: 0;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin: 0 8px;
  padding: 5px;
  padding-left: 20px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #b3b3b3;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__item:nth-child(3) {
  background-color: #282828;
  color: #fff;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__item:hover {
  color: #fff;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__item .fas {
  font-size: 20px;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__item .sidebar__item-title {
  margin-left: 20px;
  font-size: 14px;
  font-weight: normal;
}

.app-container .player-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: player;
}

.app-container .player-container .PlayerRSWP {
  height: 90px;
}

.app-container .player-container .PlayerRSWP ._ContentRSWP {
  padding: 20px;
}

.library-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #121212;
  padding: 20px;
  padding-left: 30px;
}

.library-container .library__title {
  font-size: 24px;
  letter-spacing: -.04em;
}

.library-container .library-playlists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.library-container .library-playlists .library-playlists-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.library-container .library-playlists .library-playlists-container .library-playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 20px;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item {
  width: 180px;
  height: 260px;
  background-color: #181818;
  margin-left: 20px;
  padding: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item:nth-child(1) {
  margin-left: 0;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #333;
  color: #b3b3b3;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__images-container .list__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__images-container .list__image--unavailable {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 150px;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__data-container {
  padding-top: 5px;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__data-container .list__playlist-name {
  color: white;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__data-container .list__playlist-user {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 0;
}

.library-container .library-playlists .library-liked-songs-container {
  width: 385px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
  border-radius: 4px;
  padding: 20px;
  padding-top: 40px;
  color: white;
  text-decoration: none;
}

.library-container .library-playlists .library-liked-songs-container .library-liked-songs {
  list-style: none;
  padding: 0;
  height: 90px;
  width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
}

.library-container .library-playlists .library-liked-songs-container .library-liked-songs .list__item {
  display: inline;
  line-height: 1.4;
}

.library-container .library-playlists .library-liked-songs-container .library-liked-songs .list__item .list__name {
  opacity: .7;
}

.library-container .library-playlists .library-liked-songs-container .library-liked-songs__title {
  font-size: 32px;
  line-height: .5;
}

.songs-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content;
  overflow-y: scroll;
  position: relative;
}

.songs-container .songs-header {
  height: 340px;
  background-color: #98b0b0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.songs-container .songs-header .songs-context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 85px 0 0 33px;
}

.songs-container .songs-header .songs-context .songs-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 232px;
  height: 232px;
  -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.songs-container .songs-header .songs-context .songs-image-container .songs__image {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.songs-container .songs-header .songs-context .songs-image-container .songs__image.no-image {
  width: 64px;
  height: 64px;
}

.songs-container .songs-header .songs-context .songs-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-left: 20px;
  z-index: 1;
  margin-bottom: -7px;
}

.songs-container .songs-header .songs-context .songs-data .songs__context-type {
  line-height: 0;
  font-size: 12px;
}

.songs-container .songs-header .songs-context .songs-data .songs__context-title {
  line-height: 0;
  font-size: 96px;
  letter-spacing: -.04em;
}

.songs-container .songs-header .songs-context .songs-data .songs__context-data {
  line-height: 0;
  font-size: 14px;
}

.songs-container .songs-container-background {
  display: block;
  position: absolute;
  height: 340px;
  width: 100%;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), to(rgba(0, 0, 0, 0.5))), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
}

.songs-container .songs-background {
  background: #121212;
  isolation: isolate;
}

.songs-container .songs-background .songs-complementary {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: -2px;
  background-color: #98b0b0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.6)), to(#121212)), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
}

.songs-container .songs-background .songs-complementary[stuck] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 -1px 0 0 #181818;
          box-shadow: 0 -1px 0 0 #181818;
  background-color: #3D4646;
  height: 96px;
}

.songs-container .songs-background .songs-complementary[stuck] {
  background-color: #3D4646;
  background-image: none;
}

.songs-container .songs-background .songs-complementary[stuck] .songs-player-buttons {
  padding: 10px 0 10px 30px;
}

.songs-container .songs-background .songs-complementary[stuck] .songs-player-buttons .songs__play-button {
  width: 42px;
  height: 42px;
}

.songs-container .songs-background .songs-complementary[stuck] .songs-player-buttons .song__stop-button {
  width: 42px;
  height: 42px;
}

.songs-container .songs-background .songs-complementary[stuck] .songs-player-buttons .songs__play-button--active {
  width: 42px;
  height: 42px;
}

.songs-container .songs-background .songs-complementary[stuck] .songs-player-buttons .songs__stop-button--active {
  width: 42px;
  height: 42px;
}

.songs-container .songs-background .songs-complementary[stuck] .songs-navbar {
  -ms-grid-columns: 1% 39.7% 26.5% 24% 1%;
      grid-template-columns: 1% 39.7% 26.5% 24% 1%;
  background-color: #181818;
  margin-left: 0;
  padding-left: 46px;
}

.songs-container .songs-background .songs-complementary .songs-player-buttons {
  padding: 24px;
  padding-left: 33px;
}

.songs-container .songs-background .songs-complementary .songs-player-buttons .songs__play-button {
  display: inline-block;
  background-color: #1db954;
  border: none;
  border-radius: 3000px;
  color: white;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.songs-container .songs-background .songs-complementary .songs-player-buttons .songs__play-button--active {
  display: none;
  background-color: #1db954;
  border: none;
  border-radius: 3000px;
  color: white;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.songs-container .songs-background .songs-complementary .songs-player-buttons .songs__stop-button--active {
  display: inline-block;
  background-color: #1db954;
  border: none;
  border-radius: 3000px;
  color: white;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.songs-container .songs-background .songs-complementary .songs-player-buttons .songs__stop-button {
  display: none;
  background-color: #1db954;
  border: none;
  border-radius: 3000px;
  color: white;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.songs-container .songs-background .songs-complementary .songs-navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1% 39.7% 26.5% 24% 1%;
      grid-template-columns: 1% 39.7% 26.5% 24% 1%;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #b3b3b3;
  letter-spacing: .05em;
  font-family: 'Gotham ExtraLight';
  font-size: 14px;
  padding-left: 16px;
  line-height: 0;
  margin-left: 30px;
}

.songs-container .songs-background .songs-complementary .songs-navbar .navbar__numeral {
  font-size: 18px;
  font-weight: bold;
}

.songs-container .songs-background .songs-body {
  margin: 0 32px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2% 40% 27% 23% 1%;
      grid-template-columns: 2% 40% 27% 23% 1%;
  gap: 15px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58px;
  color: #b3b3b3;
  cursor: pointer;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__index {
  display: none;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__play-button {
  display: inline-block;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__play-button * {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__play-button--active {
  display: none;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__stop-button--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__stop-button {
  display: none;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__song-is-playing--active {
  display: none;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__index {
  font-size: 16px;
  color: #b3b3b3;
  margin-left: 15px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__play-button {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__stop-button {
  display: none;
  color: white;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__play-button--active {
  display: none;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__stop-button--active {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-is-playing {
  display: none;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-is-playing--active {
  display: inline-block;
  margin-left: 13px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__index--active {
  display: none;
  width: 20px;
  margin-left: 10px;
  color: white;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-data .list__image {
  width: 40px;
  height: 40px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-data .list__description-container {
  margin-left: 15px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-data .list__description-container .list__song-title {
  line-height: 0;
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-data .list__description-container .list__song-author {
  line-height: 0;
  font-size: 14px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__album {
  text-decoration: none;
  color: #b3b3b3;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item.active .list__song-data .list__description-container .list__song-title {
  color: #1ed760;
}
/*# sourceMappingURL=index.css.map */