@import url(https://db.onlinewebfonts.com/c/a3b9bd61310fe6777980b7b7ce42f937?family=Gotham+C1+Head);
@import url(https://db.onlinewebfonts.com/c/f3c42d5e4c2d28b84d05c2b2f672b3ca?family=Gotham+ExtraLight);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100vh - calc(100vh - 100%));
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: calc(100vh - calc(100vh - 100%));
  width: 100%;
}

.app-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "sidebar content content" "player player player";
  -ms-grid-columns: 240px 800px;
      grid-template-columns: 240px 800px;
  -ms-grid-rows: 90% 90px;
      grid-template-rows: 90% 90px;
  background-color: #98b0b0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.6)), to(#121212)), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
  height: 100vh;
  color: white;
  font-family: 'Gotham C1 Head';
}

.app-container .sidebar-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
  background-color: #000;
  width: 240px;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__logo {
  height: 40px;
  width: 130px;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 28px;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list {
  list-style: none;
  padding: 0;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__link {
  text-decoration: none;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__link .sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin: 0 8px;
  padding: 5px;
  padding-left: 20px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #b3b3b3;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__link .sidebar__item:nth-child(3) {
  background-color: #282828;
  color: #fff;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__link .sidebar__item:hover {
  color: #fff;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__link .sidebar__item .fas {
  font-size: 20px;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__link .sidebar__item .sidebar__item-title {
  margin-left: 20px;
  font-size: 14px;
  font-weight: normal;
}

.app-container .player-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: player;
}

.app-container .player-container .PlayerRSWP {
  height: 90px;
}

.app-container .player-container .PlayerRSWP ._ContentRSWP {
  padding: 20px;
}

.library-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #121212;
  padding: 20px;
  padding-left: 30px;
}

.library-container .library__title {
  font-size: 24px;
  letter-spacing: -.04em;
}

.library-container .library-playlists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.library-container .library-playlists .library-playlists-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.library-container .library-playlists .library-playlists-container .library-playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 20px;
  margin: 0;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item {
  width: 180px;
  height: 260px;
  background-color: #181818;
  margin-left: 20px;
  padding: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item:nth-child(1) {
  margin-left: 0;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__link {
  text-decoration: none;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__link .list__images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #333;
  color: #b3b3b3;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__link .list__images-container .list__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__link .list__images-container .list__image--unavailable {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 150px;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__link .list__data-container {
  padding-top: 5px;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__link .list__data-container .list__playlist-name {
  color: white;
}

.library-container .library-playlists .library-playlists-container .library-playlist .list__item .list__link .list__data-container .list__playlist-user {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 0;
}

.library-container .library-playlists .list__link {
  text-decoration: none;
  height: 260px;
}

.library-container .library-playlists .list__link .library-liked-songs-container {
  width: 385px;
  background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
  border-radius: 4px;
  padding: 20px;
  padding-top: 40px;
  color: white;
  text-decoration: none;
}

.library-container .library-playlists .list__link .library-liked-songs-container .library-liked-songs {
  list-style: none;
  padding: 0;
  height: 90px;
  width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
}

.library-container .library-playlists .list__link .library-liked-songs-container .library-liked-songs .list__item {
  display: inline;
  line-height: 1.4;
}

.library-container .library-playlists .list__link .library-liked-songs-container .library-liked-songs .list__item .list__name {
  opacity: .7;
}

.library-container .library-playlists .list__link .library-liked-songs-container .library-liked-songs__title {
  font-size: 32px;
  line-height: .5;
}

.songs-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content;
  overflow-y: scroll;
  position: relative;
}

.songs-container .songs-header {
  height: 340px;
  background-color: #98b0b0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.songs-container .songs-header .songs-context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 85px 0 0 33px;
}

.songs-container .songs-header .songs-context .songs-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 232px;
  height: 232px;
  -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.songs-container .songs-header .songs-context .songs-image-container .songs__image {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.songs-container .songs-header .songs-context .songs-image-container .songs__image.no-image {
  width: 64px;
  height: 64px;
}

.songs-container .songs-header .songs-context .songs-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-left: 20px;
  z-index: 1;
  margin-bottom: -7px;
}

.songs-container .songs-header .songs-context .songs-data .songs__context-type {
  line-height: 0;
  font-size: 12px;
}

.songs-container .songs-header .songs-context .songs-data .songs__context-title {
  line-height: 0;
  font-size: 96px;
  letter-spacing: -.04em;
}

.songs-container .songs-header .songs-context .songs-data .songs__context-data {
  line-height: 0;
  font-size: 14px;
}

.songs-container .songs-container-background {
  display: block;
  position: absolute;
  height: 340px;
  width: 100%;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), to(rgba(0, 0, 0, 0.5))), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
}

.songs-container .songs-background {
  background: #121212;
  isolation: isolate;
}

.songs-container .songs-background .songs-complementary {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: -2px;
  background-color: #98b0b0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.6)), to(#121212)), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
}

.songs-container .songs-background .songs-complementary[stuck] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 -1px 0 0 #181818;
          box-shadow: 0 -1px 0 0 #181818;
  background-color: #3D4646;
  height: 96px;
}

.songs-container .songs-background .songs-complementary[stuck] {
  background-color: #3D4646;
  background-image: none;
}

.songs-container .songs-background .songs-complementary[stuck] .songs-player-buttons {
  padding: 10px 0 10px 30px;
}

.songs-container .songs-background .songs-complementary[stuck] .songs-player-buttons .songs__play-button {
  width: 42px;
  height: 42px;
}

.songs-container .songs-background .songs-complementary[stuck] .songs-player-buttons .song__stop-button {
  width: 42px;
  height: 42px;
}

.songs-container .songs-background .songs-complementary[stuck] .songs-player-buttons .songs__play-button--active {
  width: 42px;
  height: 42px;
}

.songs-container .songs-background .songs-complementary[stuck] .songs-player-buttons .songs__stop-button--active {
  width: 42px;
  height: 42px;
}

.songs-container .songs-background .songs-complementary[stuck] .songs-navbar {
  -ms-grid-columns: 1% 39.7% 26.5% 24% 1%;
      grid-template-columns: 1% 39.7% 26.5% 24% 1%;
  background-color: #181818;
  margin-left: 0;
  padding-left: 46px;
}

.songs-container .songs-background .songs-complementary .songs-player-buttons {
  padding: 24px;
  padding-left: 33px;
}

.songs-container .songs-background .songs-complementary .songs-player-buttons .songs__play-button {
  display: inline-block;
  background-color: #1db954;
  border: none;
  border-radius: 3000px;
  color: white;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.songs-container .songs-background .songs-complementary .songs-player-buttons .songs__play-button--active {
  display: none;
  background-color: #1db954;
  border: none;
  border-radius: 3000px;
  color: white;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.songs-container .songs-background .songs-complementary .songs-player-buttons .songs__stop-button--active {
  display: inline-block;
  background-color: #1db954;
  border: none;
  border-radius: 3000px;
  color: white;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.songs-container .songs-background .songs-complementary .songs-player-buttons .songs__stop-button {
  display: none;
  background-color: #1db954;
  border: none;
  border-radius: 3000px;
  color: white;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.songs-container .songs-background .songs-complementary .songs-navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1% 39.7% 26.5% 24% 1%;
      grid-template-columns: 1% 39.7% 26.5% 24% 1%;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #b3b3b3;
  letter-spacing: .05em;
  font-family: 'Gotham ExtraLight';
  font-size: 14px;
  padding-left: 16px;
  line-height: 0;
  margin-left: 30px;
}

.songs-container .songs-background .songs-complementary .songs-navbar .navbar__numeral {
  font-size: 18px;
  font-weight: bold;
}

.songs-container .songs-background .songs-body {
  margin: 0 32px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2% 40% 27% 23% 1%;
      grid-template-columns: 2% 40% 27% 23% 1%;
  gap: 15px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58px;
  color: #b3b3b3;
  cursor: pointer;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__index {
  display: none;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__play-button {
  display: inline-block;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__play-button * {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__play-button--active {
  display: none;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__stop-button--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__stop-button {
  display: none;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item:hover .list__song-is-playing--active {
  display: none;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__index {
  font-size: 16px;
  color: #b3b3b3;
  margin-left: 15px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__play-button {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__stop-button {
  display: none;
  color: white;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__play-button--active {
  display: none;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__stop-button--active {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-is-playing {
  display: none;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-is-playing--active {
  display: inline-block;
  margin-left: 13px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__index--active {
  display: none;
  width: 20px;
  margin-left: 10px;
  color: white;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-data .list__image {
  width: 40px;
  height: 40px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-data .list__description-container {
  margin-left: 15px;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-data .list__description-container .list__song-title {
  font-size: 16px;
  color: white;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 25px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__song-data .list__description-container .list__song-author {
  line-height: 0;
  font-size: 14px;
  margin-top: -5px;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item .list__album {
  text-decoration: none;
  color: #b3b3b3;
}

.songs-container .songs-background .songs-body .songs-list-container .songs-list .list__item.active .list__song-data .list__description-container .list__song-title {
  color: #1ed760;
}

.search-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content;
  overflow-y: scroll;
  background-color: #121212;
}

.search-container .searcher-container {
  padding: 20px;
  padding-left: 40px;
}

.search-container .searcher-container .searcher-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 364px;
  background-color: white;
  padding: 5px;
  padding-left: 15px;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-container .searcher-container .searcher-input-container .fa-search {
  color: black;
  font-size: 20px;
}

.search-container .searcher-container .searcher-input-container .searcher__input {
  height: 100%;
  width: 100%;
  border-radius: 500px;
  border: none;
  margin-left: 10px;
  font-size: 14px;
  outline: none;
}

.search-container .search-categories-container .search__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -.04em;
  margin-left: 40px;
}

.search-container .search-categories-container .search-categories-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (180px)[8];
      grid-template-columns: repeat(8, 180px);
  grid-auto-rows: 180px;
  gap: 24px;
  list-style: none;
}

.search-container .search-categories-container .search-categories-list .list__link .list__item {
  padding: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-container .search-categories-container .search-categories-list .list__link .list__item .list__category-title {
  position: absolute;
  top: 0;
  font-size: 24px;
  letter-spacing: -.04em;
  padding: 10px;
  margin-top: 0px;
  color: white;
  word-break: break-word;
}

.search-container .search-categories-container .search-categories-list .list__link .list__item .list__category-image {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(25deg) translate(18%, -2%);
          transform: rotate(25deg) translate(18%, -2%);
  bottom: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content;
  margin: 0;
  overflow-y: auto;
  background-color: #121212;
}

.category-container .category-header {
  height: 250px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.category-container .category-header .header__title {
  font-size: 96px;
  letter-spacing: -.1em;
  line-height: 0;
  margin-top: 180px;
  text-transform: capitalize;
}

.category-container .category-results-container .category-playlists {
  padding: 34px;
  padding-top: 50px;
}

.category-container .category-results-container .category-playlists .category__title {
  font-size: 23px;
  line-height: .9;
}

.category-container .category-results-container .category-playlists .category-playlists-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: -5px;
}

.category-container .category-results-container .category-playlists .category-playlists-list .list__item {
  width: 180px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-left: 20px;
  background-color: #181818;
  padding: 16px;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  color: white;
  height: 100%;
}

.category-container .category-results-container .category-playlists .category-playlists-list .list__item:nth-child(1) {
  margin-left: 0;
}

.category-container .category-results-container .category-playlists .category-playlists-list .list__item:hover {
  background-color: #282828;
}

.category-container .category-results-container .category-playlists .category-playlists-list .list__item:hover .list__link .list-image-container .list__play-button {
  display: inline-block;
}

.category-container .category-results-container .category-playlists .category-playlists-list .list__item .list__link {
  text-decoration: none;
}

.category-container .category-results-container .category-playlists .category-playlists-list .list__item .list__link .list-image-container {
  position: relative;
}

.category-container .category-results-container .category-playlists .category-playlists-list .list__item .list__link .list-image-container .list__image {
  width: 148px;
  height: 148px;
}

.category-container .category-results-container .category-playlists .category-playlists-list .list__item .list__link .list-image-container .list__play-button {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #1db954;
  color: #fff;
  border: none;
  border-radius: 3000px;
  width: 40px;
  height: 40px;
}

.category-container .category-results-container .category-playlists .category-playlists-list .list__item .list__link .list-image-container .list__play-button:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.category-container .category-results-container .category-playlists .category-playlists-list .list__item .list__link .list__description-container {
  margin-top: 20px;
}

.category-container .category-results-container .category-playlists .category-playlists-list .list__item .list__link .list__description-container .list__title {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category-container .category-results-container .category-playlists .category-playlists-list .list__item .list__link .list__description-container .list__description {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  color: #b3b3b3;
  margin-top: -10px;
  font-size: 14px;
}

.results-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content;
  overflow-y: scroll;
  background-color: #121212;
  padding: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 385px 1170px;
      grid-template-columns: 385px 1170px;
  -ms-grid-rows: 282px auto;
      grid-template-rows: 282px auto;
      grid-template-areas: "topResult songs" "type type";
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 40px;
  margin-top: 40px;
}

.results-container .results-top-result {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: topResult;
  width: 385px;
}

.results-container .results-top-result .top-result__title {
  font-size: 24px;
  height: 50px;
  letter-spacing: -.04em;
}

.results-container .results-top-result .top-result-song {
  background-color: #181818;
  padding: 20px;
  margin-top: 20px;
  height: 216px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.results-container .results-top-result .top-result-song:hover {
  background-color: #282828;
}

.results-container .results-top-result .top-result-song:hover .top-result-info .top-result__button {
  display: inline-block;
}

.results-container .results-top-result .top-result-song .top-result-image {
  width: 92px;
  height: 92px;
}

.results-container .results-top-result .top-result-song .top-result-info {
  position: relative;
}

.results-container .results-top-result .top-result-song .top-result-info .top-result__title {
  font-size: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.results-container .results-top-result .top-result-song .top-result-info .top-result__data {
  line-height: 0;
  margin-top: -30px;
  font-size: 14px;
}

.results-container .results-top-result .top-result-song .top-result-info .top-result__data .top-result__author {
  color: #b3b3b3;
  margin-right: 20px;
}

.results-container .results-top-result .top-result-song .top-result-info .top-result__button {
  display: none;
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 500px;
  border: none;
  background-color: #1db954;
  color: white;
  margin-top: -40px;
}

.results-container .results-top-result .top-result-song .top-result-info .top-result__button:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.results-container .results-songs-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: songs;
  overflow-y: hidden;
}

.results-container .results-songs-container .songs-container__title {
  font-size: 24px;
  letter-spacing: -.04em;
}

.results-container .results-songs-container .songs-container-list {
  list-style: none;
  padding: 0;
}

.results-container .results-songs-container .songs-container-list .list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 95% 1%;
      grid-template-columns: 95% 1%;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58px;
  color: #b3b3b3;
  padding-left: 10px;
}

.results-container .results-songs-container .songs-container-list .list__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.results-container .results-songs-container .songs-container-list .list__item:hover .list__song-data .list-image-container .list__button {
  display: inline-block;
}

.results-container .results-songs-container .songs-container-list .list__item .list__song-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-container .results-songs-container .songs-container-list .list__item .list__song-data .list-image-container {
  width: 40px;
  height: 40px;
  position: relative;
}

.results-container .results-songs-container .songs-container-list .list__item .list__song-data .list-image-container .list__image {
  width: 40px;
  height: 40px;
}

.results-container .results-songs-container .songs-container-list .list__item .list__song-data .list-image-container .list__button {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
}

.results-container .results-songs-container .songs-container-list .list__item .list__song-data .list-image-container .list__button .list__icon {
  width: 16px;
  height: 16px;
}

.results-container .results-songs-container .songs-container-list .list__item .list__song-data .list__description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
  margin-top: -5px;
}

.results-container .results-songs-container .songs-container-list .list__item .list__song-data .list__description-container .list__song-title {
  line-height: 0;
  color: white;
}

.results-container .results-songs-container .songs-container-list .list__item .list__song-data .list__description-container .list__author-container .list__song-author {
  line-height: 0;
  margin-top: -5px;
  margin-left: 5px;
}

.results-container .results-songs-container .songs-container-list .list__item .list__song-data .list__description-container .list__author-container .list__song-author:nth-child(1) {
  margin-left: 0;
}

.results-container .results-songs-container .songs-container-list .list__item .list__song-data .list__description-container .list__author-container .list__song-author:nth-child(1)::after {
  content: ",";
}

.results-container .types-results-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: type;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (307px)[auto];
      grid-template-rows: repeat(auto, 307px);
  gap: 40px;
}

.results-container .types-results-container .results-type .type-container__title {
  font-size: 24px;
  text-transform: capitalize;
}

.results-container .types-results-container .results-type .type-container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  list-style: none;
  margin-top: 20px;
}

.results-container .types-results-container .results-type .type-container-list .list__item {
  width: 180px;
  height: 258px;
  background-color: #181818;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
  border-radius: 8px;
}

.results-container .types-results-container .results-type .type-container-list .list__item:nth-child(1) {
  margin-left: 0;
}

.results-container .types-results-container .results-type .type-container-list .list__item:hover {
  background-color: #282828;
}

.results-container .types-results-container .results-type .type-container-list .list__item:hover .list__link .list__button {
  display: inline-block;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.results-container .types-results-container .results-type .type-container-list .list__item .list__link {
  text-decoration: none;
  color: white;
}

.results-container .types-results-container .results-type .type-container-list .list__item .list__link .list__image {
  width: 149px;
  height: 149px;
  border-radius: 500px;
}

.results-container .types-results-container .results-type .type-container-list .list__item .list__link .list__image--no-image {
  width: 149px;
  height: 149px;
  border-radius: 500px;
  background-color: #333;
}

.results-container .types-results-container .results-type .type-container-list .list__item .list__link .list__button {
  display: none;
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 500px;
  border: none;
  background-color: #1db954;
  color: white;
  margin-top: 100px;
  margin-right: 20px;
}

.results-container .types-results-container .results-type .type-container-list .list__item .list__link .list__button:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.results-container .types-results-container .results-type .type-container-list .list__item .list__link .list__artist-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
}

.results-container .types-results-container .results-type .type-container-list .list__item .list__link .list__type {
  font-size: 14px;
  color: #b3b3b3;
}
/*# sourceMappingURL=index.css.map */