@import url(//db.onlinewebfonts.com/c/a3b9bd61310fe6777980b7b7ce42f937?family=Gotham+C1+Head);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100vh - calc(100vh - 100%));
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: calc(100vh - calc(100vh - 100%));
  width: 100%;
}

.app-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "sidebar content content" "player player player";
  -ms-grid-columns: 240px 800px;
      grid-template-columns: 240px 800px;
  -ms-grid-rows: 90% 90px;
      grid-template-rows: 90% 90px;
  background-color: #98b0b0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.6)), to(#121212)), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
  height: 100vh;
  color: white;
  font-family: 'Gotham C1 Head';
}

.app-container .sidebar-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
  background-color: #000;
  width: 240px;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__logo {
  height: 40px;
  width: 130px;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 28px;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list {
  list-style: none;
  padding: 0;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin: 0 8px;
  padding: 5px;
  padding-left: 20px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #b3b3b3;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__item:nth-child(3) {
  background-color: #282828;
  color: #fff;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__item:hover {
  color: #fff;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__item .fas {
  font-size: 20px;
}

.app-container .sidebar-container .sidebar__navbar .sidebar__list .sidebar__item .sidebar__item-title {
  margin-left: 20px;
  font-size: 14px;
  font-weight: normal;
}

.app-container .player-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: player;
}

.app-container .player-container .PlayerRSWP {
  height: 90px;
}

.app-container .player-container .PlayerRSWP ._ContentRSWP {
  padding: 20px;
}

.library-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content;
  width: 100%;
  height: 100%;
  background-color: #121212;
  padding: 20px;
}

.library-container .library-playlists-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.library-container .library-playlists-container .library__title {
  margin-left: 20px;
}

.library-container .library-playlists-container .library-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 20px;
}

.library-container .library-playlists-container .library-list .list__item {
  width: 180px;
  height: 260px;
  background-color: #181818;
  margin-left: 20px;
  padding: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.library-container .library-playlists-container .library-list .list__item:nth-child(1) {
  margin-left: 0;
}

.library-container .library-playlists-container .library-list .list__item .list__link-container {
  text-decoration: none;
}

.library-container .library-playlists-container .library-list .list__item .list__link-container .list__images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #333;
  color: #b3b3b3;
}

.library-container .library-playlists-container .library-list .list__item .list__link-container .list__images-container .list__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.library-container .library-playlists-container .library-list .list__item .list__link-container .list__images-container .list__image--unavailable {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 150px;
}

.library-container .library-playlists-container .library-list .list__item .list__link-container .list__data-container {
  padding-top: 5px;
}

.library-container .library-playlists-container .library-list .list__item .list__link-container .list__data-container .list__playlist-name {
  color: white;
}

.library-container .library-playlists-container .library-list .list__item .list__link-container .list__data-container .list__playlist-user {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 0;
}
/*# sourceMappingURL=index.css.map */